# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / IDE
.DS_Store
*.swp
*.bak
*.tmp
*.log

# Nested Git
*.git
